* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    }
    input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    }
    input[type=submit] {
    width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 250px;
    }
    input[type=date] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    }
    h1{
        padding-top: 20px;
        color : grey;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    h2{
        padding-top: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    #task{
        padding-top: 20px;
    }
    .form-wrap{
        width: 50%;
        margin-left: 25%;
        padding: 100px 100px 100px 100px;
        padding-left: 150px;
        border: #ddd 1px solid;
        border-radius: 5px;
        background-color: rgb(60, 122, 141);
    }
    .form{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .btn{
        margin-top: 20px;
        width: 20%;
        margin-left: 45%;
        padding: 12px 20px;
    }
    #todot, #donet, th, td {
    border:1px solid black;
    text-align: center;
    max-height: 500px;
    margin-left: 10%;
    background-color: white;
    }
    #todot, #donet{
        width: 70%;
    }